#body {
    background-color: rgb(63, 60, 60);
    
  }
  
  #h1 {
      text-align:center;
      color: sandybrown;
      padding-top: 30px;
      font-size: 50px;
      font-weight: inherit;
  }
  
  #h2 {
      text-align:center;
      color: sandybrown;
      
  }
   
  #parrafo1 {
      /* color: antiquewhite; */
      color:rgb(153, 153, 153);
      font-size: 22px;
      text-align:center;
      padding: 2px;
      
     
  }
  
  #parrafo2 {
      color:rgb(153, 153, 153);
      font-size: 22px;
      padding: 2px;
      text-align:center;
      margin-top: 30px;
  }
   
  .nav-primaria{
    margin-top: 20px;
    background-color: rgb(194, 188, 187);
    padding:10px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
  }
  @media (max-width:1000px){
      .nav-primaria{
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 35%;
        font-size: 1.5rem;
        display: flex;
        align-items: flex-end;
        z-index: 100;

      }
      .nav2{
          margin: 5px 0px;
      }

  }


  .nav2 {
    background:rgb(54, 54, 54); 
    color:sandybrown;
    padding: 5px 10px;
    display: inline-block;
   
    text-align:center;
    text-decoration: none;
    font-size: 20px;
    
    border-top-right-radius: 20px; 
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; 
      

  }
  .nav2:hover{
      background-color: rgb(15, 79, 131);
  }




  .social-bar{ 
    margin-top: 20px;
    background-color: rgb(194, 188, 187);
    padding:10px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
  }

  @media (max-width:1000px){
    .social-bar {
      flex-direction: column;
      position: fixed;
      right: 0px;
      top: 35%;
      font-size: 1.5rem;
      display: flex;
      align-items: flex-end;
      z-index: 100;

    }
    .icon{
        margin: 5px 0px;
    }

}



  .icon{
    background:rgb(54, 54, 54); 
    color:sandybrown;
    padding: 5px 10px;
    display: inline-block;
   
    text-align:center;
    text-decoration: none;
    font-size: 20px;
    
    border-top-right-radius: 20px; 
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; 
    
    

  }

  .icon:hover{
    background-color: rgb(15, 79, 131) ;
}

    
  #aside{
      text-align:center;
      color: sandybrown;
  }

   
  #footer {
    
    
    display: flex;
    justify-content: center;
    font-size: 10px;
  }
  @media (max-width:1000px ){
    #footer {
      
      
   
    } 
  }